body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 350px; /* Largura máxima */
    text-align: center;
}

/* Formulário */
#searchForm {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#pokemonInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 9px;
    background-color: #525b65; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


#pokemonCard {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: left; /* Alinha o texto do card à esquerda */
}

#pokemonName {
    text-transform: capitalize;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-top: 0;
}

/* Classes utilitárias */
.hidden {
    display: none;
}

#errorMessage:not(.hidden) {
    color: #D8000C; /* Vermelho para erro */
    font-weight: bold;
}